<section class="public-transport-panel__view" data-public-transport-panel-view="line-stop" hidden>
    <div class="public-transport-panel__controls">
        <label data-public-transport-panel-stop-date-field>
            <span>Data</span>
            <select data-public-transport-panel-stop-date></select>
        </label>
    </div>
    <div data-public-transport-panel-departures></div>
    <button class="public-transport-panel__all-lines" type="button" data-public-transport-panel-all-lines>
        Pokaż wszystkie linie na tym przystanku
    </button>
</section>
