<section class="public-transport-panel__view" data-public-transport-panel-view="line" hidden>
    <div class="public-transport-panel__controls">
        <label data-public-transport-panel-direction-field>
            <span data-public-transport-panel-direction-label>Kierunek</span>
            <select data-public-transport-panel-direction></select>
        </label>
        <label data-public-transport-panel-line-date-field>
            <span>Data</span>
            <select data-public-transport-panel-line-date></select>
        </label>
    </div>
    <div data-public-transport-panel-stops></div>
</section>
