<form class="color-picker-dialog" id="color-picker-dialog" role="dialog" aria-modal="true" aria-labelledby="color-picker-title" aria-hidden="true">
    <header class="color-picker-dialog__header">
        <h2 id="color-picker-title">Wybierz kolor</h2>
        <button class="color-picker-dialog__close" data-color-picker-cancel type="button" aria-label="Zamknij"></button>
    </header>
    <div class="color-picker-dialog__content">
        <canvas class="color-picker-dialog__canvas" width="360" height="240" data-color-picker-canvas aria-label="Wybierz nasycenie i jasność koloru"></canvas>
        <label class="color-picker-dialog__hue">
            <span>Barwa</span>
            <input type="range" min="0" max="359" value="207" data-color-picker-hue>
        </label>
        <div class="color-picker-dialog__preview" data-color-picker-preview></div>
        <label class="component-inputbox">
            <span>HEX</span>
            <input type="text" maxlength="7" value="#1F6FAE" data-color-picker-hex autocomplete="off" spellcheck="false">
        </label>
        <div class="color-picker-dialog__rgb">
            <label class="component-inputbox"><span>R</span><input type="number" min="0" max="255" data-color-picker-r></label>
            <label class="component-inputbox"><span>G</span><input type="number" min="0" max="255" data-color-picker-g></label>
            <label class="component-inputbox"><span>B</span><input type="number" min="0" max="255" data-color-picker-b></label>
        </div>
    </div>
    <footer class="color-picker-dialog__footer">
        <button class="component-button" data-color-picker-cancel type="button">Anuluj</button>
        <button class="component-button component-button--primary" type="submit">Dodaj kolor</button>
    </footer>
</form>
