<div class="yesno-dialog" id="yesno-dialog" role="alertdialog" aria-modal="true" aria-labelledby="yesno-dialog-title" aria-describedby="yesno-dialog-description" aria-hidden="true">
    <header class="yesno-dialog__header">
        <div class="yesno-dialog__icon" id="yesno-dialog-icon" aria-hidden="true"></div>
        <h2 class="yesno-dialog__title" id="yesno-dialog-title"></h2>
    </header>
    <div class="yesno-dialog__content">
        <p class="yesno-dialog__description" id="yesno-dialog-description"></p>
    </div>
    <footer class="yesno-dialog__footer">
        <button class="yesno-dialog__button yesno-dialog__button--primary" data-dialog-result="yes" type="button">Tak</button>
        <button class="yesno-dialog__button" data-dialog-result="no" type="button">Nie</button>
    </footer>
</div>
